<!-- templates/competition_records.html -->


{% extends 'base.html' %}


{% block content %}
    <h2>Competition Records for {{ user.first_name }} {{ user.last_name}}</h2>
    </br>
    {% if user_competition_number > 0 %}
        {% for record in object_list %}
            {% if user.student_id == record.student_id %}
                <div class="card">
                    <div class="card-header">
                        <h3>{{ record.name }}</h3>
                        <p class="text-muted">{{ record.date }}</p>
                    </div>
                </div>
                </br>
            {% endif %}
        {% endfor %}
    {% else %}
        <p class="text-muted">There's Nothing Here Yet!</p>
    {% endif %}
{% endblock content %}